input{
    border: none;
    background-color: #F0F0F0;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Irish Grover', sans-serif;
    font-size: 1rem;
    width: 100%;
    
}
div{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 650px;
}